body {
  margin: 0;
  padding-top: 64px; /* navbar height */
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;

}


#root {
  height: 100%;
}

* {
  font-family: "Inter", "Segoe UI", system-ui, sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
